.container {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  align-items: center;
  background-color: #fafafa;
  flex-direction: column;
  .moreProducts {
    width: 80%;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    h3 {
      font-size: 30px;
      span {
        color: var(--green);
      }
    }
  }
}
